{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Profile Perusahaan
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/company-profile.css' %}" />
{% endblock %}

{% block header %}
{% include "partials/header-company.html" %}
{% endblock %}

{% block content %}
<!-- Judul -->
  <section id="title-section">
    <header>
      <h1 id="company-title">Company Dashboard</h1>
      <p id="company-name">Welcome "{{company.name}}"</p>
    </header>
    <a href="{% url 'app:job-listing'%}" class="btn btn-login">Job List</a>
    <a href="#" class="btn btn-login">Find Student</a>
  </section>

  <div class="container">
    <!-- Section -->
    <section id="about-section">
      <div>
        <!-- 2 Columns -->
        <h2 id="about-company">About Company</h3>
        <div class="row">
          <br>
          <div class="col-md-6">
            <p id="about">{{company.description}}</p>
          </div>
          <div class="col-md-1">

          </div>
          <div class="col-md-5" id="company-details">
            <h5 id="companyType">Company Type: {{company.company_type}}</h5>
            <h5 id="companyWeb">Website: {{company.web}}</h5>
            <h5 id="companySpecialty"><b>Specialities: {{company.specialty}}</h5>
          </div>
        </div>
      </div>
    </section>
</div>
    <section id="posting-job">
      <div class="container">
        <header class="align-center" >
          <h1 class="job-post-title">Create Job Posting</h1>
          <p class="job-post-text">Tell the world your company vacancies.</p>
          <!-- Form for new status -->
          <form class="card-text" method="POST" action="{% url 'company:company-add-job' %}">
            {% csrf_token %}
            <div >
              <input type="text" placeholder="Job title" class="form-control" name="title" id="job-title" title="title"></input>
              <textarea placeholder="Describe your job requirements" class="form-control" name="description" rows="5" id="job-description" title="description"></textarea>
            </div>
            <button type="submit" class="btn btn-login" id="button"> Submit </button>
          </form>
        </header>
      </div>
    </section>

    <section id="job-list">
      <div class="container">
        <h1>Company's Jobs</h1>
        <!-- Print errors if any -->
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <div class="inner">
            <div id="page" class="container">
                <div id="content">
                  <div>
                    {% for i in job reversed %}
                      <nav class="first" id="each-job">
                        <h6 class="card-subtitle mb-2 text-muted"> {{ i.date }} </h6>
                        <p class="card-text" id="each-job-title"> {{ i.title }} </p>
                        <br>
                        <p class="card-text"> {{ i.description }} </p>
                        <div class="row" style="padding-right: 1.5%;">
                          <div class="col-md-10">
                          </div>
                          <div class="col-md-1">
                            {% if is_exist %}
                  					<button class="btn btn-warning" type="submit" disabled>Applied</button>
                    				{% else %}
                    				<form class="" action="{% url 'app:apply-job' i.id %}" method="POST">
                    					{% csrf_token %}
                    					<button class="btn btn-primary" type="submit">Apply Now</button>
                    				</form>
                    				{% endif %}
                          </div>
                          <div class="col-md-1">
                            <b><a href="{% url 'company:company-delete-job' i.id %}" class="btn btn-warning" id="">Delete</a></b>
                          </div>
                        </div>\
                      </nav>
                      <hr>
                    {% endfor %}
                  </div>
                </div>
            </div>
        </div>

        <nav>
          {% if forum.has_other_pages %}
          <ul class="pagination" style="justify-content: center; margin-top: 20px">
            {% if forum.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ forum.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in forum.paginator.page_range %}
            {% if forum.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if forum.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ forum.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </div>
    </section>

  {% endblock %}

  {% block javascript %}
  {% endblock %}
