{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- JQuery dataTables CSS -->
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Login CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin" rel="stylesheet">
    <link rel="icon" href="../static/seek.ico">

    {% block css %}
    {% endblock %}
    <title>
        {% block title %} {% endblock %}
    </title>
  </head>

  <body>
    <header>
        {% block header %}

        {% endblock %}
    </header>
    <content>
      {% block content %}
          <!-- Your Content Here -->
      {% endblock %}
    </content>
    <footer>
        {% block footer %}
            <!-- Your Content Here -->
        {% endblock %}
    </footer>
  </body>
  <!-- Jquery n Bootstrap Script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
  <!-- JQuery dataTables Script -->
  <script src="https://code.jquery.com/jquery-1.12.4.js">
  </script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
  </script>

  {% block javascript %}
  {% endblock %}
</html>
