{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mahasiswa-profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}" />
{% endblock %}
{% block header %}
{% include "partials/header-user.html" %}
{% endblock %}

{% block content %}
<!-- Content Here -->
<section id="data-dashboard">
	<div class="container">
		<!-- <div class="panel panel-default"> -->
			<!-- <div class="panel-heading"> -->
				<h2 style="text-align: center;"> Selamat Datang, {{ mahasiswa.name }} </h2>
			<!-- </div> -->
			<!-- <div class="panel-body"> -->
				<!-- <div class="col-md-9"> -->
					<div id="status-profile" style="margin: auto;">
						<div id="status-profile-left">
							{% if mahasiswa.picture_url == '' %}
								<span id="profile-picture"><img src="http://moziru.com/images/profile-clipart-generic-user-11.png" width="180px" height="180px" alt="my-photo"></span>
							{% else %}
								<span id="profile-picture"><img src="{{mahasiswa.picture_url}}" width="180px" height="180px" alt="my-photo"></span>
							{% endif %}
						</div>
						<div id="status-profile-right">
							<div class="clearfix">
								<p> <b>Username :</b> {{ mahasiswa.name }} </p>
								<p> <b>NPM :</b> {{mahasiswa.npm}} </p>
								<p> <b>Role :</b> {{ mahasiswa.role }} </p>
								{% if mahasiswa.link_linkedin == '' %}
									<p> <b> <a href="{% url 'auth:user-request-auth' %}">Connect with LinkedIn </a> </b> </p>
								{% else %}
									<p> <b> <a href="{{mahasiswa.link_linkedin}}"> LinkedIn Profile </a> </b> </p>
								{% endif %}
							</div>
						</div>
					</div>
				<!-- </div> -->
			<!-- </div> -->
			<div id="status-footer">
				<a href="/app/job/listing/" class="btn btn-login""> Job Listing </a>
				<a href="/app/student/list/" class="btn btn-login"> Student List </a>
			</div>
		<!-- </div> -->
	</div>
</section>

<section id="data-table">

	<!-- Nav tabs -->
	<ul class="nav nav-tabs nav-justified" role="tablist" id="table">
		<li role="presentation" class="active">
			<a href="#profile" data-toggle="tab"> Profile </a>
		</li>
		<li role="presentation">
			<a href="#riwayat" data-toggle="tab"> Riwayat </a>
		</li>
		<li role="presentation">
			<a href="#updatestatus" data-toggle="tab"> Application </a>
		</li>
	</ul>

	<div class="container">
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="profile">
				{% include 'mahasiswa/tables/profil.html' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="riwayat">
				<!-- Apply the same here -->
				{% include 'mahasiswa/tables/riwayat.html' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="updatestatus">
				{% include 'mahasiswa/tables/status.html' %}
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}


