{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Job Description
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/app_job_forum.css' %}" />
{% endblock %}

{% block header %}
{% include "partials/header-company.html" %}
{% endblock %}
{% block content %}
<section id="job-forum">
	<div class="container">
		<div class="block">
			<header id="job-description-title">
				<h1 id="job-title"> {{job.title}} </h1>
				<a href="{% url 'company:profile-by-id' job.company.id_linkedin %}">by {{job.company.name}} </a>
				<h4 id="job-description">{{job.description}}</h4>
				{% if is_exist %}
					<button class="btn btn-warning" type="submit" disabled>Applied</button>
				{% else %}
					{% if student %}
						<form class="" action="{% url 'app:apply-job' job.id %}" method="POST">
							{% csrf_token %}
							<button class="btn btn-primary" type="submit">Apply Now</button>
						</form>
					{% endif %}
				{% endif %}
			</header>

			{% if student %}
			<div style="margin-top: 5%;" id="about-question">
				<form action="post/" method="POST">
					{% csrf_token %}
						<label for="title"> Subject </label>
						<br>
						<input type="text" name="title" value="">
						<br>
						<br>
						<label for="question"> Your question </label>
						<br>
						<textarea id="question-textarea" name="question" rows="8" cols="50" required></textarea>
						<br>
						<br>
						<input type="submit" class="btn btn-primary">
				</form>
			</div>
			{% endif %}

			<div class="comment">
				<h3 style="margin-top: 5%;">Comments:</h3>
				{% for comment in comment_list %}
					<div id="comment">
						<h2 id="comment-title">{{comment.title}}</h2>
						<h6>{{comment.created_at}}</h6>
						<h4>{{comment.content}}</h4>
						{% if student %}
						<div id="delete-button">
							<a href="{% url 'app:delete-comment' comment.id %}" class="btn btn-warning">Delete</a>
						</div>
						{% endif %}
					</div>
					<hr>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% endblock %}
