<table id="example" class="display" cellspacing="0" width="100%">
    <h2 class="title">Cari Teman</h2>
        <thead style="background: white">
            <tr>
                <th>NPM</th>
                <th>NAMA</th>
                <th>ANGKATAN</th>
                <th>KEAHLIAN</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>NPM</th>
                <th>NAMA</th>
                <th>ANGKATAN</th>
                <th>KEAHLIAN</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th>1606822714</th>
                <th>Kaka</th>
                <th>2016</th>
                <th>Photoshop,Python</th>
            </tr>
            <tr>
                <th>1606822716</th>
                <th>Courtois</th>
                <th>2016</th>
                <th>Java,C++</th>
            </tr>
            <tr>
                <th>1606822721</th>
                <th>Morata</th>
                <th>2016</th>
                <th>Photoshop,Python</th>
            </tr>
           <tr>
                <th>1606822722</th>
                <th>Hazard</th>
                <th>2016</th>
                <th>Photoshop,Python</th>
            </tr>
            <tr>
                <th>1606822776</th>
                <th>Willian</th>
                <th>2016</th>
                <th>Web Design, Java</th>
            </tr>
            <tr>
                <th>1606822789</th>
                <th>Marcos Alonso</th>
                <th>2016</th>
                <th>Photoshop,Python</th>
            </tr>
            <tr>
                <th>1606822732</th>
                <th>Bakayoko</th>
                <th>2016</th>
                <th>Java,C++</th>
            </tr>
            <tr>
                <th>1606822789</th>
                <th>Kante</th>
                <th>2016</th>
                <th>Web Design, Java</th>
            </tr>
           <tr>
                <th>1606822700</th>
                <th>Victor Moses</th>
                <th>2016</th>
                <th>Hardware, Erlang</th>
            </tr>
            <tr>
                <th>1606822743</th>
                <th>Pedro Rodriguez</th>
                <th>2016</th>
                <th>Hardware, Erlang</th>
            </tr><tr>
                <th>1606822734</th>
                <th>Azpilicueta</th>
                <th>2016</th>
                <th>Java,C++</th>
            </tr>
            <tr>
                <th>1606822733</th>
                <th>Loftus-Cheek</th>
                <th>2016</th>
                <th>Web Design, Java</th>
            </tr>
            <tr>
                <th>1606822788</th>
                <th>Batshuayi</th>
                <th>2016</th>
                <th>Java,C++</th>
            </tr>
           <tr>
                <th>1606822799</th>
                <th>Ivanovic</th>
                <th>2016</th>
                <th>Web Design, Java</th>
            </tr>
            <tr>
                <th>1606822707</th>
                <th>Zappacosta</th>
                <th>2016</th>
                <th>Hardware, Erlang</th>
            </tr><tr>
                <th>1606822754</th>
                <th>Diego Costa</th>
                <th>2016</th>
                <th>Web Design, Java</th>
            </tr>
            <tr>
                <th>1606822755</th>
                <th>Rudiger</th>
                <th>2016</th>
                <th>Hardware, Erlang</th>
            </tr>
            <tr>
                <th>1606822746</th>
                <th>Nemanja Matic</th>
                <th>2016</th>
                <th>Web Design, Java</th>
            </tr>
           <tr>
                <th>1606822764</th>
                <th>Sadio Mane</th>
                <th>2016</th>
                <th>Web Design, Java</th>
            </tr>
            <tr>
                <th>1606822741</th>
                <th>Muhammad Salah</th>
                <th>2016</th>
                <th>Hardware, Erlang</th>
            </tr>
        </tbody>
    </table>
    <script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );
     
        // DataTable
        var table = $('#example').DataTable();
     
        // Apply the search
        table.columns().every( function () {
            var that = this;
     
            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
</script>


<style>
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>
